/NF1/nf1_clashRoyaleEleccioCartes/nbproject/private/
/NF1/nf1_clashRoyaleEleccioCartes/dist/
/NF1/nf1_clashRoyaleEleccioCartes/build/
/NF1/bf1_clashRoyalemenoscodigo/nbproject/private/
/NF1/bf1_clashRoyalemenoscodigo/build/
/NF1/Bucles/Exemple05For/nbproject/private/
/NF1/Bucles/Exemple05For/build/
/NF1/Bucles/Exemple05For/dist/
/NF1/Bucles/ejemplo2dowhile/nbproject/private/
/NF1/Bucles/ejemplo2dowhile/build/
/NF1/Bucles/ejemplo2dowhile/dist/
/NF1/Bucles/ejemplo3while/nbproject/private/
/NF1/Bucles/ejemplo3while/build/
/NF1/Bucles/exercici1Bucles/nbproject/private/
/NF1/Bucles/exercici1Bucles/build/
/NF1/Bucles/exercici2Bucles/nbproject/private/
/NF1/Bucles/exercici2Bucles/build/
/NF1/Bucles/exercici2Bucles/dist/
/NF1/Bucles/ejercicio4Bucles/nbproject/private/
/NF1/Bucles/ejercicio4Bucles/build/
/NF1/Bucles/ejercicio8bucles/nbproject/private/
/NF1/Bucles/ejercicio8bucles/build/
/NF1/Bucles/ejercicio8bucles/dist/
/NF1/Bucles/ejericcio5bucle/nbproject/private/
/NF1/Bucles/ejericcio5bucle/build/
/NF1/Bucles/ejericcio5bucle/dist/
/NF1/Bucles/ejercicio10/nbproject/private/
/NF1/Bucles/ejercicio10/build/
/NF1/Bucles/ejercicio10/dist/
