/NF1/nf1_clashRoyaleEleccioCartes/nbproject/private/
/NF1/nf1_clashRoyaleEleccioCartes/dist/
/NF1/nf1_clashRoyaleEleccioCartes/build/
/NF1/bf1_clashRoyalemenoscodigo/nbproject/private/
/NF1/bf1_clashRoyalemenoscodigo/build/
/NF1/Bucles/Exemple05For/nbproject/private/
/NF1/Bucles/Exemple05For/build/
/NF1/Bucles/Exemple05For/dist/
/NF1/Bucles/ejemplo2dowhile/nbproject/private/
/NF1/Bucles/ejemplo2dowhile/build/
/NF1/Bucles/ejemplo2dowhile/dist/
/NF1/Bucles/ejemplo3while/nbproject/private/
/NF1/Bucles/ejemplo3while/build/
